.sign-fields .day-container {
	width: 150px;
	height: 45px;
	background: #f0f4f4;
	border-radius: 81px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: 1px solid #000000;
}

.sign-fields .day-container::before {
	content: "";
	position: absolute;
	right: 30px;
	top: 17px;
	z-index: 1;
	width: 8px;
	height: 8px;
	border: 2px solid #333;
	border-top: 2px solid #f0f4f4;
	border-right: 2px solid #f0f4f4;
	transform: rotate(-45deg);
	transition: 0.5s;
	pointer-events: none;
}

.sign-fields .day-container.active::before {
	top: 20px;
	transform: rotate(-225deg);
}

.sign-fields .day-container input {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 7px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 17px;
	width: 100%;
	color: #878787;
	margin-left: 15px;
}

.sign-fields .day-container input::placeholder {
	padding-left: 15px;
	color: #878787;
	font-weight: 500;
}

.sign-fields .day-container .option {
	position: absolute;
	bottom: 54px;
	width: 100%;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	box-shadow: 0 1px 6px rgb(0 0 0 / 50%);
	border-radius: 10px;
	display: none;
	z-index: 100;
	font-weight: 500;
}

.sign-fields .day-container.active .option {
	display: block;
}

.day-container .option div {
	padding: 6px 10px;
	cursor: pointer;
}

.sign-fields .day-container .option div:hover {
	background-color: #62baea;
	color: #fff;
	transition: all 0.3s;
}

.sign-fields .day-container .option div span {
	display: flex;
	justify-content: center;
}

.sign-fields .day-container .option div i {
	position: relative;
	top: 0px;
	font-size: 1em;
	margin: 0 10px 0 0;
}

/* media query start  */
@media screen and (max-width: 520px) {
	.sign-fields .day-container {
		width: 100px;
	}

	.sign-fields .day-container::before {
		right: 20px;
	}

	.sign-fields .day-container input {
		padding-left: 0px;
	}

	.sign-fields .day-container input::placeholder {
		padding-left: 0px;
	}
}
