.sign-verification-container {
	display: flex;
	justify-content: center;
}

.sign-verification-container .wrapper {
	background: #fbfbfb;
	border: 1px solid #000000;
	border-radius: 32px;
	width: max-content;
	height: max-content;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.sign-verification-container .wrapper h4 {
	padding: 20px 0 10px 0;
	font-weight: 600;
}

.sign-verification-container .wrapper #message {
	text-align: justify;
	font-weight: 500;
	width: 600px;
}

.sign-verification-container .wrapper .reduce-opacity {
	opacity: 0.3;
}

/* error-message start  */
.sign-verification-container .wrapper .error-message {
	border: 2px solid #d90429;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.sign-verification-container .wrapper .error-message #header {
	background-color: #d90429;
	padding: 5px 10px;
	color: white;
	font-weight: 600;
	outline: 1px solid #d90429;
	font-size: 15px;
}

.sign-verification-container .error-message #message {
	text-align: center;
	margin: 15px 0;
}

.sign-verification-container .error-message #ok-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.sign-verification-container .error-message #ok-btn button {
	padding: 5px 25px;
	background-color: #d90429;
	font-size: 17px;
	font-weight: 600;
	color: white;
	margin: 0 10px 10px 0;
	border-radius: 20px;
}

.sign-verification-container .error-message #ok-btn button:hover {
	transform: scale(0.98);
	transition: all 0.5s;
}

.sign-verification-container .error-message #ok-btn button:active {
	transform: scale(1.1);
	transition: all 0.5s;
}
/* error-message end  */

/* conform-message start  */
.sign-verification-container .wrapper .conform-message {
	border: 2px solid #040026;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.sign-verification-container .wrapper .conform-message #header {
	background-color: #040026;
	padding: 5px 10px;
	color: white;
	font-weight: 600;
	outline: 1px solid #040026;
	font-size: 15px;
}

.sign-verification-container .conform-message #message {
	text-align: center;
	margin: 15px 0 0 0;
}

.sign-verification-container .conform-message #ok-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.sign-verification-container .conform-message #ok-btn button {
	padding: 5px 25px;
	background: #1b489c;
	font-size: 17px;
	font-weight: 600;
	color: white;
	margin: 0 10px 10px 0;
	border-radius: 20px;
}

.sign-verification-container .conform-message #ok-btn button:hover {
	transform: scale(0.98);
	transition: all 0.5s;
}

.sign-verification-container .conform-message #ok-btn button:active {
	transform: scale(1.1);
	transition: all 0.5s;
}
/* conform-message end  */

.sign-verification-container .wrapper .selection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.sign-verification-container .wrapper .selection .left {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
}

.sign-verification-container .wrapper .selection .left input {
	margin-top: 20px;
	width: 90%;
	height: 44px;
	background: #f0f4f4;
	border: 1px solid #000000;
	border-radius: 81px;
	padding: 0 20px;
	font-weight: 600;
	color: #878787;
}

.sign-verification-container .wrapper .selection .right {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-verification-container .wrapper .selection .right p {
	margin: 0;
	font-size: 17px;
	text-align: center;
}

.sign-verification-container .wrapper .selection .right p span {
	font-weight: 600;
	display: inline-block;
	max-width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sign-verification-container .wrapper .footer-btn-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin-top: 25px;
}

.sign-verification-container .wrapper .footer-btn-container > span {
	cursor: pointer;
}

.wrapper .footer-btn-container > span.hover-link::after {
	background-color: #000000;
}

.footer-btn-container .btn-container {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

.footer-btn-container .btn-container button {
	width: 174px;
	height: 45px;
	border-radius: 48px;
	font-weight: 600;
	font-size: 19px;
}

.footer-btn-container .btn-container button:hover {
	transform: scale(0.98);
	transition: all 0.5s;
}

.footer-btn-container .btn-container button:active {
	transform: scale(1.1);
	transition: all 0.5s;
}

.footer-btn-container .btn-container button:first-child {
	border: 1px solid black;
	margin-right: 20px;
}

.footer-btn-container .btn-container button:first-child .hover-link::after {
	background-color: #000000;
}

.footer-btn-container .btn-container button:last-child {
	background: #19469e;
}

.footer-btn-container .btn-container button i {
	font-size: 22px;
}

/* media query start  */
@media screen and (max-width: 800px) {
	.sign-verification-container .wrapper {
		padding: 5px 15px;
		width: 90%;
	}

	.sign-verification-container .wrapper #message {
		width: 100%;
	}

	.sign-verification-container .wrapper .error-message {
		width: 100%;
		margin-bottom: 20px;
	}

	.sign-verification-container .wrapper .conform-message {
		width: 100%;
		margin-bottom: 20px;
	}

	.sign-verification-container .wrapper .conform-message #message {
		white-space: wrap;
		word-wrap: break-word;
		padding: 0 5px;
	}

	.sign-verification-container .wrapper .footer-btn-container {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 650px) {
	.sign-verification-container .wrapper .selection {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.sign-verification-container .wrapper .selection .left {
		justify-content: flex-start;
	}

	.sign-verification-container .wrapper .selection .left input {
		margin-top: 0px;
	}

	.sign-verification-container .wrapper .selection .right {
		width: 100%;
		justify-content: flex-start;
	}

	.sign-verification-container .wrapper .selection .right p {
		text-align: start;
		margin-top: 10px;
		width: 100%;
	}

	.sign-verification-container .wrapper .selection .right p span {
		max-width: 100%;
		display: block;
	}

	.sign-verification-container .wrapper .footer-btn-container {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 10px;
	}

	.sign-verification-container .wrapper .footer-btn-container > span {
		order: 2;
		margin-top: 10px;
	}

	.sign-verification-container .wrapper .footer-btn-container .btn-container {
		order: 1;
	}
}

@media screen and (max-width: 450px) {
	.footer-btn-container .btn-container {
		width: 100%;
	}

	.footer-btn-container .btn-container button {
		width: 48%;
	}
}
