.sign-container {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	max-height: fit-content;
	background-color: white;
	overflow: auto;
	overflow: hidden;
}

/* for left side start  */
.sign-container .sign-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.sign-container .sign-input .title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.sign-container .sign-input .title img {
	width: 80px;
	min-width: 80px;
	height: 80px;
	min-height: 80px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
}

.sign-container .sign-input .title h4 {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	margin-top: 5px;
}

.sign-container .sign-input table tr.registration-type {
	display: flex;
	justify-content: space-between;
	width: 495px;
	margin-top: 5px;
}

.sign-container .sign-input table tr .selected {
	width: 231px;
	height: 45.79px;
	background: #f0f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 81px;
}

.sign-container .sign-input table tr .selected input {
	width: 100%;
	height: 100%;
	border-radius: 81px;
	font-weight: 600;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}

.sign-container .sign-input table tr .selected input#active {
	background-color: #040026;
	color: white;
}

.sign-container .sign-input table tr .selected input:hover {
	transform: scale(0.98);
	transition: 0.5s;
}

.sign-container .sign-input table tr .selected input:active {
	transform: scale(1.1);
	transition: 0.5s;
}

.sign-container .sign-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 15px;
	width: 80%;
}

.sign-container .sign-footer .checked {
	display: flex;
	align-items: flex-start;
}

.sign-container .sign-footer .checked input {
	cursor: pointer;
	margin-top: 5px;
	height: 14px;
	width: 14px;
}

.sign-container .sign-footer .checked label {
	margin-left: 10px;
	cursor: pointer;
}

.sign-container .sign-footer .checked label span {
	color: #1b489c;
	font-weight: 600;
}

.sign-container .sign-footer .sign-btn {
	width: 220px;
	height: 47px;
	background: #1b489c;
	border-radius: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	cursor: pointer;
}

.sign-container .sign-btn:hover {
	transform: scale(0.98);
	transition: all 0.5s;
}

.sign-container .sign-btn:active {
	transform: scale(1.1);
	transition: all 0.5s;
}

.sign-container .sign-footer .sign-btn button {
	font-size: 18px;
	font-weight: 500;
	color: white;
	background-color: transparent;
	border: none;
}

.sign-container .sign-footer .sign-btn button i {
	font-size: 22px;
}

.sign-container .sign-footer #have-account {
	margin-top: 10px;
	color: #1b489c;
	cursor: pointer;
	font-weight: 600;
	display: none;
}

.sign-container .sign-footer #have-account:hover {
	color: #040026;
	transition: all 0.5s;
}

.sign-container .sign-footer #have-account.hover-link::after {
	background-color: black;
}

/* for left side end  */

/* for right side start  */
.sign-container .sign-img {
	background: #b7cddc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	clip-path: circle(97% at 90% 60%);
}

.sign-container .sign-img img {
	width: 550px;
	width: 550px;
	border-radius: 15%;
}

.sign-container .sign-img button {
	width: 221px;
	height: 56px;
	font-weight: 500;
	font-size: 18px;
	margin-top: 20px;
	background: #040026;
	border-radius: 53px;
}

.sign-container .sign-img button span {
	display: inline-block;
}

.sign-container .sign-img button:hover {
	transform: scale(0.98);
	transition: all 0.5s;
}

.sign-container .sign-img button:active {
	transform: scale(1.1);
	transition: all 0.5s;
}
/* for right side end  */

/* media query start  */
@media screen and (max-width: 1450px) {
	.sign-container .sign-img {
		clip-path: circle(90% at 90% 60%);
	}

	.sign-container .sign-input {
		align-items: center;
	}

	.sign-container .sign-input .title {
		width: 100%;
	}

	.sign-container .sign-footer {
		width: 100%;
	}
}

@media screen and (max-width: 1250px) {
	.sign-container .sign-img {
		clip-path: circle(85% at 90% 60%);
	}

	.sign-container .sign-img img {
		align-self: flex-end;
	}
}

@media screen and (max-width: 1200px) {
	.sign-container .sign-footer #have-account {
		display: inline-block;
	}
}

/* media query start  */
@media screen and (max-width: 520px) {
	.sign-container .sign-input table tr.registration-type {
		width: 350px;
		justify-content: space-between;
	}

	.sign-container .sign-input table tr .selected {
		width: 170px;
	}
}

@media screen and (max-width: 400px) {
	.sign-container {
		padding: 20px 0;
	}

	.sign-container .sign-footer .checked {
		margin-left: 10px;
	}
}
