/* recent comment start  */
.comment-container .recent-comment {
	margin: 10px 0 0 0;
	display: flex;
}

.comment-container .recent-comment #recent-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top center;
	outline: 2px solid #1a479e;
}

.comment-container .recent-comment .comment-box {
	margin: 0 0px 0 10px;
}

.recent-comment .comment-box .comment {
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	padding: 8px 8px 11px 8px;
	border-radius: 14px;
	background-color: #e0e3ef;
	position: relative;
}

.recent-comment .comment-box .comment .count-react {
	position: absolute;
	bottom: -14px;
	right: 8px;
	background-color: rgb(252, 252, 252);
	padding: 0px 5px 0 3px;
	border-radius: 30px;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}

.recent-comment .comment-box .comment .count-react span {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 32px;
	height: fit-content;
}

.recent-comment .comment-box .comment .count-react span img {
	border-radius: 50%;
	width: 22px;
	height: 22px;
	object-fit: cover;
	object-position: center;
}

.recent-comment .comment-box .comment .count-react span h6 {
	color: #0a22fb;
	font-size: 14px;
	margin: 0px 0 0 5px;
	font-weight: 600;
	display: inline-block;
}

.recent-comment .comment-box .comment h6 {
	margin: 0;
	font-size: 15px;
	color: black;
}
.recent-comment .comment-box .comment p {
	margin: 0;
	word-spacing: 0.2rem;
	letter-spacing: 0.5px;
}
.recent-comment .comment-box .react {
	display: flex;
	font-size: 13px;
	margin: 4px 0 0 0px;
}

.recent-comment .comment-box .react {
	margin-left: 20px;
}

.recent-comment .comment-box .react p {
	margin-left: 20px;
}

/* react section start  */
.recent-comment .comment-box .react span {
	cursor: pointer;
}

.recent-comment .comment-box .react #for-reply {
	cursor: pointer;
}
/* react section end  */

/* comment-toggle-container start  */

.comment-toggle-container {
	margin: 7px 0 0 0;
	position: relative;
	width: max-content;
}

.comment-toggle-container::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	border: 3px solid #05668d;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(-45deg);
	transition: 0.5s;
	pointer-events: none;
}

.comment-toggle-container.active::before {
	top: 6px;
	transform: rotate(-225deg);
}

.comment-toggle-container h6 {
	font-size: 14px;
	color: #219ebc;
	margin: 0 0 0 20px;
	cursor: pointer;
}
.comment-toggle-container h6 b {
	font-weight: 600;
	color: #05668d;
}

/* comment-toggle-container end  */
/* recent comment end  */

/* comment-input start  */
.comment-container .comment-input {
	display: flex;
	align-items: center;
	margin: 10px 0 0 0;
}

.comment-container .comment-input .user-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top center;
	outline: 2px solid #1a479e;
}

.comment-container .comment-input .input-box {
	margin: 0 10px;
	padding: 5px 0px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: white;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	border-radius: 30px;
	position: relative;
}

.comment-container .comment-input .input-box #for-comment {
	width: 93%;
	border: none;
	outline: none;
	line-height: 200%;
	letter-spacing: 0.5px;
	resize: none;
	word-wrap: break-word;
	background-color: transparent;
	padding: 0 14px;
	word-spacing: 0.2rem;
	font-size: 15px;
}

.comment-input .input-box #for-comment::placeholder {
	font-size: 14px;
}

.comment-input .input-box i {
	font-size: 20px;
	color: #738290;
	cursor: pointer;
}

/* comment-input end  */
