@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--card-border-radius: 16px;
	--box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: hsl(252, 30%, 95%);
	overflow-x: hidden;
}

.link {
	text-decoration: none;
}

/* title style start  */
/* title-tip down */
.title-tip[title]:hover {
	position: relative;
}
.title-tip[title]:hover:before {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	content: attr(title);
	margin-top: 0.5em;
	padding: 0.5em;
	width: 150px; /* change it */
	overflow: hidden;
	word-wrap: break-word;
	font-size: inherit;
	color: #fff;
	text-align: center;
	background-color: #00a896;
	box-sizing: border-box;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	font-weight: 500;
	font-size: 17px;
}

.title-tip[title]:hover:after {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 99999;
	content: "";
	margin-left: -0.125em;
	width: 0;
	height: 0;
	border: 0.25em dashed transparent;
	border-bottom: 0.25em solid #00a896;
	font-size: inherit;
}

/* title-tip-up */
.title-tip-up[title]:hover:before {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: 0.5em;
}
.title-tip-up[title]:hover:after {
	top: auto;
	bottom: 100%;
	border: 0.25em dashed transparent;
	border-top: 0.25em solid #00a896;
}
/* title style end  */

/* Scrollbar styling start */
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: #eaf4f4;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #1b479e;
}
/* Scrollbar styling end */

/* for hover link start  */
.hover-link::after {
	content: "";
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width 0.3s;
}

.hover-link:hover::after {
	width: 100%;
	transition: width 0.3s;
}
/* for hover link end  */

/* input - number remove arrow start */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
/* input - number remove arrow end */
