.right-about-con .about-you-container {
	background-color: white;
	box-shadow: var(--box-shadow);
	border-radius: var(--card-border-radius);
	margin: 0 0 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.right-about-con .about-you-container h5 {
	margin: 0;
	font-weight: 600;
	margin-bottom: 10px;
}

/* add-new style start  */
.right-about-con .about-you-container .add-new {
	display: flex;
	align-items: center;
	color: #3185f3;
	margin-top: 10px;
	cursor: pointer;
	width: fit-content;
}

.right-about-con .about-you-container .add-new i {
	font-size: 20px;
}

.right-about-con .about-you-container .add-new p {
	margin: 0;
	font-weight: 500;
	margin-left: 10px;
	font-size: 17px;
}
/* add-new style end */

/* input fields style start  */
.right-about-con .about-you-container .input-fields {
	margin-top: 10px;
}

.right-about-con .about-you-container .input-fields .modify-fields {
	margin: 0 0 4px 0;
	font-weight: 500;
	font-size: 15px;
}

.right-about-con .about-you-container .input-fields #error {
	font-size: 13px;
	color: #d90429;
	margin-bottom: -5px;
}

.right-about-con .about-you-container .input-fields .when-error {
	border: 3px ridge #d90429;
}

.right-about-con .about-you-container .input-fields .form-floating label {
	color: #8c9ea8;
	font-size: 15.5px;
	opacity: 0.9;
}

.right-about-con .about-you-container .input-fields .outline-sty {
	letter-spacing: 0.5px;
	word-spacing: 2px;
}

.right-about-con .about-you-container .input-fields .outline-sty:focus {
	outline: 2.2px solid #006d77;
	box-shadow: var(--box-shadow);
	font-weight: 500;
}

.right-about-con
	.about-you-container
	.input-fields
	.when-error.outline-sty:focus {
	outline: none;
}

.right-about-con .about-you-container .input-fields .when-details {
	resize: vertical !important;
	border: 1px solid red;
}
/* input fields style end */

/* submit btn style start  */
.about-you-container .input-fields .submit-btn-con {
	display: flex;
	justify-content: flex-end;
	padding: 10px 0 0 0;
	margin-top: 10px;
}

.about-you-container .input-fields .submit-btn-con button {
	font-size: 15px;
	font-weight: 500;
	transition: all 0.3s;
}

.about-you-container .input-fields .submit-btn-con button #loading {
	padding: 0px 18px;
	font-size: 18px;
}

.about-you-container .input-fields .submit-btn-con button:first-child {
	margin-right: 20px;
	background-color: #e4e6eb;
}

.about-you-container .input-fields .submit-btn-con button:hover {
	transform: scale(0.97);
}

.about-you-container .input-fields .submit-btn-con button:active {
	transform: scale(1.05);
}
/* submit btn style end  */

/* for displaying quote start  */
.about-you-container .displaying-quote {
	margin-top: 10px;
}

.about-you-container .displaying-quote#when-username {
	margin-top: 20px;
}

.about-you-container .displaying-quote #sub-title {
	font-size: 18px;
	font-weight: 500;
}

.about-you-container .displaying-quote#when-username #sub-title {
	margin: 0;
}

.about-you-container .displaying-quote#when-nickname #sub-title {
	margin-top: 5px;
}

.about-you-container .displaying-quote .a-work {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 17.5px;
}

.about-you-container .displaying-quote#when-nickname .a-work {
	margin-bottom: 10px;
}

.about-you-container .displaying-quote .a-work:last-child {
	margin: 0;
}

/*  #left start  */
.about-you-container .displaying-quote #left {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
}

.about-you-container .displaying-quote .Edit {
	margin-top: -5px;
	width: 100%;
}

.about-you-container .displaying-quote #up {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	width: 100%;
	font-weight: 400;
}

.about-you-container .displaying-quote #up h6 {
	margin: 0;
	font-weight: 500;
}

.about-you-container .displaying-quote #down {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: 13px;
	flex-wrap: wrap;
}
/* #left end  */

/*  #right start  */
.about-you-container .displaying-quote #right {
	display: flex;
	align-items: center;
}

.about-you-container .displaying-quote #right i:first-child {
	margin-right: 20px;
	font-size: 18px;
	color: #354f52;
}

.about-you-container .displaying-quote #right .option {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #e4e6eb;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.about-you-container .displaying-quote #right .option i {
	margin: 0 auto;
	font-size: 19px;
}

.about-you-container .displaying-quote #right ul {
	position: absolute;
	top: 43px;
	right: 0;
	background-color: white;
	box-shadow: var(--box-shadow);
	border-radius: 10px;
	z-index: 10;
	padding: 0;
	margin: 0;
	list-style-type: none;
	animation: rotateMenu 500ms ease-in-out forwards;
	transform-origin: top center;
}

@keyframes rotateMenu {
	0% {
		transform: rotateX(-90deg);
	}
	70% {
		transform: rotateX(20deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

.about-you-container .displaying-quote #right ul li {
	display: flex;
	align-items: center;
	padding: 7px 20px;
	transition: all 0.3s;
	font-weight: 500;
}

.about-you-container .displaying-quote #right ul li:hover {
	background-color: #e2e4e6;
	font-weight: 600;
}

.about-you-container .displaying-quote #right ul li i {
	margin: 0 !important;
}

.about-you-container .displaying-quote #right ul li:first-child:hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.about-you-container .displaying-quote #right ul li:last-child:hover {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.about-you-container .displaying-quote #right ul li .option-icon {
	padding-right: 10px;
	color: #58777b;
}

.about-you-container .displaying-quote #right ul li:hover .option-icon {
	color: black;
}
/* for displaying location end */

/* for delete popup start  */
.about-you-container .home-del-popup {
	width: 100%;
	position: fixed;
	top: 48%;
	left: 50%;
	z-index: 100;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
}

.about-you-container .home-del-popup .home-del-popup-wrapper {
	width: 39%;
	height: fit-content;
	background-color: white;
	box-shadow: var(--box-shadow);
	border-radius: 10px;
	padding: 20px;
	position: relative;
}

.home-del-popup .home-del-popup-wrapper .conformation-content {
	display: flex;
	flex-direction: column;
}

.home-del-popup .home-del-popup-wrapper .conformation-content h5 {
	margin: 0;
	text-align: center;
	font-weight: 600;
}

.home-del-popup .home-del-popup-wrapper .conformation-content p {
	font-weight: 500;
}

.home-del-popup .home-del-popup-wrapper .conformation-content .conform-btn {
	display: flex;
	justify-content: flex-end;
}

.home-del-popup-wrapper .conformation-content .conform-btn button {
	transition: all 0.3s;
}

.home-del-popup-wrapper .conformation-content .conform-btn button:hover {
	transform: scale(0.97);
}

.home-del-popup-wrapper .conformation-content .conform-btn button:active {
	transform: scale(1.1);
}

.home-del-popup-wrapper .conformation-content .conform-btn button:first-child {
	margin-right: 20px;
	font-weight: 500;
}

.home-del-popup-wrapper .conformation-content .conform-btn button:last-child {
	background-color: #e4e6eb;
	font-weight: 600;
}

.home-del-popup-wrapper .conformation-content .conform-btn button #loading {
	padding: 0px 18px;
	font-size: 18px;
}
/* for delete popup end */

/* close-btn style start  */
.home-del-popup .home-del-popup-wrapper .close-btn-del-popup {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: flex;
	width: fit-content;
	background-color: #d7e2ea;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.home-del-popup .home-del-popup-wrapper .close-btn-del-popup:hover {
	transform: scale(0.9);
}

.home-del-popup .home-del-popup-wrapper .close-btn-del-popup:active {
	transform: scale(1.1);
}

.home-del-popup .home-del-popup-wrapper .close-btn-del-popup i {
	font-size: 16px;
	transition: all 0.3s;
	color: #d90429;
}

.home-del-popup .home-del-popup-wrapper .close-btn-del-popup i:hover {
	transform: rotate(180deg);
}
/* close-btn style end  */

/* interested item style start  */
.about-you-container .interested-in-container {
	margin-top: 15px;
}

.about-you-container .interested-in-container h5 {
	margin: 0 0 5px 0;
	font-weight: 500;
	font-size: 18px;
}

.about-you-container .interested-items {
	width: 100%;
	height: fit-content;
	max-height: 200px;
	overflow: auto;
	border: 1px solid #ced4da;
	border-radius: 10px;
}

.about-you-container .interested-items::-webkit-scrollbar-thumb {
	background: #d9dde6;
}

.about-you-container .interested-items span {
	padding: 7px 10px;
	margin: 6px;
	border-radius: 18px;
	cursor: pointer;
	display: inline-block;
	background-color: white;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #3085f3;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #e5e5e5;
}
/* interested item style end */

/* media query start  */
@media screen and (max-width: 1300px) {
	.about-you-container .home-del-popup .home-del-popup-wrapper {
		width: 45%;
	}
}

@media screen and (max-width: 1100px) {
	.about-you-container .home-del-popup .home-del-popup-wrapper {
		width: 50%;
	}
}

@media screen and (max-width: 991px) {
	.right-about-con .about-you-container {
		margin: 15px;
	}

	.about-you-container .home-del-popup .home-del-popup-wrapper {
		width: 60%;
	}
}

@media screen and (max-width: 850px) {
	.about-you-container .home-del-popup .home-del-popup-wrapper {
		width: 65%;
	}
}

@media screen and (max-width: 800px) {
	.about-you-container .home-del-popup .home-del-popup-wrapper {
		width: 70%;
	}
}

@media screen and (max-width: 700px) {
	.about-you-container .home-del-popup .home-del-popup-wrapper {
		width: 75%;
	}
}

@media screen and (max-width: 650px) {
	.about-you-container .home-del-popup .home-del-popup-wrapper {
		width: 100%;
		margin: 0 15px;
	}
}
