.profile-first-container {
	display: flex;
	justify-content: center;
	background-color: white;
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

.profile-img-container {
	border-radius: 0 0 10px 10px;
}

.profile-img-container hr {
	margin: 0;
}

.profile-second-container {
	display: flex;
	justify-content: center;
	margin: 15px 0 0 0 !important;
}
