.feed-left {
	flex-grow: 1;
	padding: 0;
	position: sticky;
	top: 5.4rem;
	height: max-content;
	-moz-height: max-content;
}

/* user-info start  */
.feed-left .user-info {
	display: flex;
	align-items: center;
	padding: 18px 0;
	background-color: white;
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	margin-top: -6.5px;
}

.feed-left .user-info img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: top center;
	border-radius: 50%;
	outline: 2.5px solid #040026;
	margin: 0 0 0 15px;
	cursor: pointer;
}

.feed-left .user-info h5 {
	margin: 5px 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 10px;
	cursor: pointer;
}
/* user-info end  */

/* sidebar start  */
.sidebar-container {
	margin: 12px 0 0 0;
	background-color: white;
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	height: fit-content;
	margin-bottom: 10px;
}

.sidebar-container span {
	display: flex;
	padding: 17px 0;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.sidebar-container span:hover {
	background-color: hsl(252, 30%, 95%);
}

.sidebar-container span img {
	width: 30px;
	height: 30px;
	margin: 0 0 0 30px;
	object-fit: cover;
}

.sidebar-container span h5 {
	margin: 0 0 0 12px;
	font-size: 17px;
}

/* active class style start  */
.sidebar-container .settings-active {
	background-color: hsl(252, 30%, 95%);
	color: hsl(252deg 75% 60%);
}

.sidebar-container .settings-active h5 {
	font-weight: 600;
}

.sidebar-container .settings-active::before {
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	position: absolute;
	background-color: #1a479e;
}

.sidebar-container .collections-active {
	background-color: hsl(252, 30%, 95%);
	color: hsl(252deg 75% 60%);
}

.sidebar-container .collections-active h5 {
	font-weight: 600;
}

.sidebar-container .collections-active::before {
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	position: absolute;
	background-color: #1a479e;
}

.sidebar-container .memories-active {
	background-color: hsl(252, 30%, 95%);
	color: hsl(252deg 75% 60%);
}

.sidebar-container .memories-active h5 {
	font-weight: 600;
}

.sidebar-container .memories-active::before {
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	position: absolute;
	background-color: #1a479e;
}

.sidebar-container .adManager-active {
	background-color: hsl(252, 30%, 95%);
	color: hsl(252deg 75% 60%);
}

.sidebar-container .adManager-active h5 {
	font-weight: 600;
}

.sidebar-container .adManager-active::before {
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	position: absolute;
	background-color: #1a479e;
}

.sidebar-container .people-active {
	background-color: hsl(252, 30%, 95%);
	color: hsl(252deg 75% 60%);
}

.sidebar-container .people-active h5 {
	font-weight: 600;
}

.sidebar-container .people-active::before {
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	position: absolute;
	background-color: #1a479e;
}

.sidebar-container .page-active {
	background-color: hsl(252, 30%, 95%);
	color: hsl(252deg 75% 60%);
}

.sidebar-container .page-active h5 {
	font-weight: 600;
}

.sidebar-container .page-active::before {
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	position: absolute;
	background-color: #1a479e;
}

.sidebar-container .purchased-active {
	background-color: hsl(252, 30%, 95%);
	color: hsl(252deg 75% 60%);
}

.sidebar-container .purchased-active h5 {
	font-weight: 600;
}

.sidebar-container .purchased-active::before {
	content: "";
	display: block;
	width: 0.5rem;
	height: 100%;
	position: absolute;
	background-color: #1a479e;
}

.sidebar-container .settings-active {
	overflow: hidden;
	border-top-left-radius: 1rem;
}

.sidebar-container .purchased-active {
	overflow: hidden;
	border-bottom-left-radius: 1rem;
	margin-bottom: 10px;
}

/* active class style end  */

/* sidebar button start  */
.feed-left .sidebar-container #btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 15px;
}

.feed-left .sidebar-container #btn-container button {
	width: 75%;
	max-width: 224px;
	height: 49px;
	background: #040026;
	color: #eeeeee;
	font-weight: 500;
	border-radius: 30px;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
}

.feed-left .sidebar-container #btn-container button div {
	margin-top: 4px;
}

.feed-left .sidebar-container #btn-container button:hover {
	outline: 4px solid rgb(12, 214, 79);
	transition: all 0.3s linear;
	color: white;
	transform: scale(0.97);
}

.feed-left .sidebar-container #btn-container button:active {
	transform: scale(1.1);
}
/* sidebar button end  */
/* sidebar end  */
