.reset-password-container {
	display: flex;
	justify-content: center;
}

.reset-password-container .wrapper {
	background: #fbfbfb;
	border: 1px solid #000000;
	border-radius: 32px;
	width: max-content;
	height: max-content;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.reset-password-container .wrapper h4 {
	padding: 20px 0 10px 0;
	font-weight: 600;
}

.reset-password-container .wrapper p {
	text-align: justify;
	padding: 0 20px;
	font-weight: 500;
	width: 600px;
	font-size: 14px;
}

.reset-password-container .wrapper .input-fields {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 550px;
}

.reset-password-container .wrapper .input-fields span {
	width: 48%;
	display: inline-block;
	position: relative;
}

.reset-password-container .wrapper .input-fields span .eye {
	position: absolute;
	top: 24%;
	right: 20px;
	cursor: pointer;
	width: fit-content;
}

.reset-password-container .wrapper .input-fields span .eye i {
	opacity: 0.7;
}

.reset-password-container .wrapper .input-fields input {
	height: 44px;
	background: #f0f4f4;
	border: 1px solid #000000;
	border-radius: 81px;
	padding: 0 20px;
	font-weight: 600;
	color: #878787;
	width: 100%;
}

.reset-password-container .wrapper input::placeholder {
	font-weight: 600;
}

.reset-password-container .wrapper .reset-btn-container {
	margin: 20px 0;
	width: 550px;
	display: flex;
	justify-content: flex-end;
}

.reset-password-container .wrapper .reset-btn-container button:first-child {
	width: 174px;
	height: 45px;
	background: #ffffff;
	border: 1px solid #000000;
	border-radius: 48px;
	font-weight: 600;
	font-size: 18px;
	margin-right: 20px;
}

.wrapper .reset-btn-container #cancel.hover-link::after {
	background-color: black;
}

.reset-password-container .wrapper .reset-btn-container button:last-child {
	width: 174px;
	height: 45px;
	border-radius: 48px;
	font-weight: 600;
	font-size: 18px;
	background-color: #19469e;
}

.reset-password-container .wrapper .reset-btn-container button:hover {
	transform: scale(0.98);
	transition: all 0.5s;
}

.reset-password-container .wrapper .reset-btn-container button:active {
	transform: scale(1.1);
	transition: all 0.5s;
}

.reset-password-container .wrapper .reset-btn-container i {
	font-size: 22px;
}

/* media query start  */
@media screen and (max-width: 750px) {
	.reset-password-container .wrapper {
		padding: 5px;
		width: 90%;
	}

	.reset-password-container .wrapper p {
		max-width: 100%;
	}

	.reset-password-container .wrapper .input-fields {
		max-width: 95%;
	}

	.reset-password-container .wrapper .reset-btn-container {
		width: 84%;
	}
}

@media screen and (max-width: 650px) {
	.reset-password-container .wrapper .input-fields {
		flex-direction: column;
		align-items: flex-start;
	}

	.reset-password-container .wrapper .input-fields span {
		width: 100%;
		margin: 7px 0;
	}

	.reset-password-container .wrapper .input-fields span .eye {
		top: 7%;
	}

	.reset-password-container .wrapper .reset-btn-container {
		width: 95%;
	}
}

@media screen and (max-width: 550px) {
	.reset-password-container .wrapper .reset-btn-container {
		display: flex;
		justify-content: space-between;
	}

	.reset-password-container .wrapper .reset-btn-container button {
		width: 48%;
		margin: 0;
	}
}
