.interested-container {
	background-color: white;
	box-shadow: var(--box-shadow);
	padding: 15px;
}

.interested-container h5 {
	font-weight: 600;
	display: flex;
	justify-content: center;
	padding: 0 5px;
	color: #040026;
}

/* interested-btn style start  */
.interested-container .interested-btn {
	background-color: #e4e6eb;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.interested-container .interested-btn span {
	display: inline-block;
}

.interested-container .interested-btn span.hover-link::after {
	background-color: black;
}
/* interested-btn style end  */
