.audio-tab-container {
	background-color: white;
	box-shadow: var(--box-shadow);

	border-radius: var(--card-border-radius);
	margin: 0 3%;
	padding: 15px 15px 0 15px;
}

.audio-tab-container h5 {
	margin: 0;
	font-weight: 600;
}

.audio-tab-container .audio > div {
	width: 100%;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
	padding-bottom: 35px;
	height: 185px;
}
