.about-tab-container {
	margin: 0 3%;
	display: flex;
	padding-bottom: 15px;
}

/* left-container style start  */
.about-tab-container .left-about-con {
	background-color: white;
	box-shadow: var(--box-shadow);
	border-radius: var(--card-border-radius);
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 55px;
}

.about-tab-container .left-about-con h4 {
	margin: 0;
	padding: 20px 0 15px;
	font-weight: 600;
	font-size: 25px;
	width: 100%;
	text-align: center;
}

.about-tab-container .left-about-con ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	padding: 0 12px 10px;
}

.about-tab-container .left-about-con ul li {
	text-align: center;
	padding: 7px 0;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.3s;
	border-radius: 5px;
}

.about-tab-container .left-about-con ul li:hover {
	background: #edebeb;
	font-weight: 600;
}

.about-tab-container .left-about-con ul li#active {
	background: #d9d9d9;
	font-weight: 600;
}
/* left-container style end  */

/* right-container style start  */
.about-tab-container .right-about-con {
	height: fit-content;
	flex-grow: 1;
}
/* right-container style end  */
