.post-tab-main-container {
	gap: 1rem;
	display: flex;
}

.post-tab-main-container .post-left-container {
	padding: 0;
	height: max-content;
	-moz-height: max-content;
	border-radius: 10px;
	overflow: hidden;
}

.post-tab-main-container .post-left-container#sticky {
	position: sticky;
	top: 5rem;
	bottom: 0;
}

.post-tab-main-container .post-middle-container {
	flex-grow: 1;
}

.post-tab-main-container .post-right-container {
	padding: 0;
	height: max-content;
	-moz-height: max-content;
	border-radius: 10px;
	overflow: hidden;
}

.post-tab-main-container .post-right-container#sticky {
	position: sticky;
	top: 5rem;
	bottom: 0;
}

/* media query start  */
@media screen and (max-width: 991px) {
	.post-tab-main-container .post-left-container#sticky {
		position: static;
		order: 1;
	}

	.post-tab-main-container .post-middle-container {
		order: 3;
	}

	.post-tab-main-container .post-right-container#sticky {
		position: static;
		order: 2;
	}
}

/* media query end  */
