.post-tab-main-container {
	gap: 1rem;
	display: flex;
}

.post-tab-main-container .post-left-container {
	padding: 0;
	height: max-content;
	-moz-height: max-content;
	position: sticky;
	top: 5rem;
	bottom: 0;
	overflow: auto;
	border-radius: 10px;
}

.post-tab-main-container .post-middle-container {
	flex-grow: 1;
}

.post-tab-main-container .post-right-container {
	height: 300px;
}

.post-tab-main-container .post-right-container img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	object-position: center;
	cursor: pointer;
	border-radius: 10px;
}

/* media query start  */

/* media query end  */
