.post-container .video-container {
	width: 100%;
	height: 373px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
}

.post-container .video-container #single-video {
	object-fit: fill;
	width: 100%;
	height: 100%;
}

.post-container .video-container #double-videos {
	object-fit: fill;
	width: 50%;
	height: 100%;
	flex-grow: 1;
	padding-left: 2px;
}
