/* create post start  */
.chn-profile-container {
	background-color: white;
	width: 100%;
	border-radius: 2rem;
	margin: -10px 0 0 0;
	padding: 0 0 10px 0;
}

/* user-info section start  */
.chn-profile-container .user-info {
	display: flex;
	align-items: center;
	padding: 10px 17px 17px;
}

.chn-profile-container .user-info img {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	object-position: top center;
	outline: 3px solid #040026;
	border-radius: 50%;
}

.chn-profile-container .user-info h6 {
	color: #264653;
	font-weight: 500;
	letter-spacing: 0.2px;
	margin: 0 0 0 10px;
	font-size: 26px;
}
/* user-info section end  */

/* input section start  */
.chn-profile-container .preview-container img {
	border-radius: 10px;
	height: 300px;
	width: 100%;
	object-position: top center;
	background-color: #333;
}

.chn-profile-container .preview-container img#when-cover {
	object-fit: fill;
}

.chn-profile-container .preview-container img#when-profile {
	object-fit: contain;
}

.chn-profile-container .share-btn-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 20px;
}

.chn-profile-container .share-btn-container button {
	width: 150px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 2rem;
	font-size: 19px;
}

.chn-profile-container .share-btn-container button:hover {
	transform: scale(0.98);
	transition: all 0.3s;
}

.chn-profile-container .share-btn-container button:active {
	transform: scale(0.9);
	transition: all 0.5s;
}

.chn-profile-container .share-btn-container button:first-child {
	background-color: white;
	border: 2px solid black;
	color: #333;
	margin-right: 30px;
	font-weight: 600;
}

.share-btn-container button:first-child span.hover-link::after {
	background-color: black;
}

.chn-profile-container .share-btn-container button:last-child {
	background-color: #1a479e;
	color: #eeeeee;
	font-weight: 500;
}
/* input section end  */
/* create post end  */

/* media query start  */
@media screen and (max-width: 500px) {
	.chn-profile-container .preview-container img#when-profile {
		object-fit: fill;
	}
}
