.following-container {
	margin: 13px 0 0 0;
	padding: 15px;
	background-color: white;
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
}

.following-container .header {
	display: flex;
	justify-content: space-between;
}

.following-container .header h5 {
	font-weight: 600;
	margin: 0;
}
.following-container .header p {
	opacity: 0.9;
	margin: 0 0 10px 0;
}

.following-container .following > div {
	height: 180px;
	overflow: hidden;
}

.following-container .following img {
	padding: 5px 5px 5px 0;
	height: 150px;
	object-fit: cover;
	object-position: top center;
	cursor: pointer;
	border-radius: 10px;
}
