.nav-main-container {
	display: flex;
	justify-content: center;
	height: fit-content;
	background: #040026;
	position: sticky;
	z-index: 1000;
	top: 0;
	box-shadow: var(--box-shadow);
	padding: 5px 0;
}

/* **** navbar-left start  **** */
.navbar-left {
	display: flex;
	align-items: center;
	width: fit-content;
	cursor: pointer;
}

.navbar-left img {
	width: 48px;
	height: 48px;
	object-fit: cover;
	object-position: center;
}
/* navbar-left end  */

/* **** navbar-middle-start  **** */
.navbar-middle {
	display: flex;
	justify-content: flex-start;
	margin-left: 25px;
}

.navbar-middle .search-bar {
	display: flex;
	align-items: center;
	align-self: center;
	background-color: #f0eef6;
	width: 99%;
	border-radius: 30px;
	padding: 0 11px;
	height: 40px;
}

.navbar-middle .search-bar i {
	font-size: 19px;
	margin: 3px 0 0 10px;
	color: #738290;
}

.navbar-middle .search-bar input {
	margin: 0 0 0 11px;
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
}
/* **** navbar-middle-end  **** */

/* **** navbar-right-start  **** */
.navbar-right {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar-right .icon-style {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 60%;
}

.navbar-right .icon-style #home {
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: relative;
}

.navbar-right .icon-style #home img {
	width: 100%;
	height: 100%;
}

.navbar-right .icon-style span {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f0f4f4;
	border-radius: 50%;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
}

.navbar-right .icon-style span:hover {
	transform: translateY(-3px);
}

.navbar-right .icon-style span img {
	width: 60%;
	height: 60%;
	position: relative;
}

.navbar-right .icon-style span #create {
	cursor: pointer;
}
.navbar-right .icon-style span #create i {
	font-size: 22px;
	margin: 0 0 0 1px;
}

/* for title-popup start  */
.navbar-right .icon-style .title-popup {
	position: absolute;
	top: 58px;
	right: -8px;
	background-color: #040026;
	color: white;
	margin: 0;
	padding: 10px;
	border-radius: 10px;
	box-sizing: var(--box-shadow);
	font-size: 12px;
	display: none;
	z-index: 1000;
}

.navbar-right .icon-style #home:hover .title-popup {
	animation: title-popup 0.5s ease-in-out 0.5s forwards;
	display: block;
	opacity: 0;
}

.navbar-right .icon-style span:hover .title-popup {
	animation: title-popup 0.5s ease-in-out 0.5s forwards;
	display: block;
	opacity: 0;
}

.navbar-right .icon-style #menu:hover .title-popup {
	animation: title-popup 0.5s ease-in-out 0.5s forwards;
	display: block;
	opacity: 0;
}

@keyframes title-popup {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}

	80% {
		transform: translateY(-3px);
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.navbar-right .icon-style #create-popup {
	width: 72px;
	right: -26px;
}

.navbar-right .icon-style #message-popup {
	right: -18px;
}

.navbar-right .icon-style #notification-popup {
	right: -28px;
}

.navbar-right .icon-style #setting-popup {
	right: -15px;
}

.navbar-right .icon-style #people-popup {
	left: -42px;
	width: 100px;
}

/* for title-popup end */

/* for dropdown list start  */
.navbar-right #sitting {
	position: relative;
}

.navbar-right #sitting ul {
	background-color: white;
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	position: absolute;
	top: 59px;
	right: 0px;
	z-index: 10;
	width: 300px;
	height: fit-content;
	margin: 0;
	padding: 0;
	font-weight: 600;
	list-style-type: none;
	display: none;
	border: 1px solid black;
}

.navbar-right #sitting ul.active {
	display: block;
	animation: sitting-animation 800ms ease-in-out forwards;
}

.navbar-right #sitting ul.inactive {
	display: block;
	animation: sitting-animation-reverse 900ms ease-in-out forwards;
}

@keyframes sitting-animation {
	0% {
		transform: translateX(115%);
		opacity: 0;
	}
	80% {
		transform: translateX(-5%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes sitting-animation-reverse {
	0% {
		transform: translateX(0%);
	}

	10% {
		transform: translateX(-10%);
	}

	100% {
		opacity: 0;
		transform: translateX(140%);
	}
}

.navbar-right #sitting ul .profile-info {
	display: flex;
	align-items: center;
	margin: 20px 10px;
	padding: 7px;
	background: #f0f4f4;
	border: 1px solid #000000;
	border-radius: 10px;
	cursor: pointer;
}

.navbar-right #sitting ul .profile-info img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top center;
	outline: 2px solid #1a479e;
}

.navbar-right #sitting ul .profile-info h5 {
	margin: 0 0 0 10px;
	font-weight: 600;
	font-size: 19px;
}

.navbar-right #sitting ul li {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 7px 0px;
	position: relative;
	padding-left: 10px;
}

.navbar-right #sitting ul li:last-child {
	border-radius: 0 0 1rem 1rem;
}

.navbar-right #sitting ul li:hover {
	background-color: #cce3de;
}

.navbar-right #sitting ul li img {
	width: 30px;
	height: 30px;
	object-fit: cover;
	object-position: center;
}

.navbar-right #sitting ul li h5 {
	margin: 0 0 0 10px;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.5px;
	word-spacing: 2px;
}

.navbar-right #sitting img {
	cursor: pointer;
}

/* for dropdown list end  */

/* menu style start  */
.navbar-right #menu {
	position: relative;
	display: none;
}

.navbar-right #menu > i {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	font-size: 22px;
}

.navbar-right #menu ul {
	background-color: white;
	border-radius: 1rem;
	box-shadow: var(--box-shadow);
	position: absolute;
	top: 59px;
	right: 0px;
	z-index: 10;
	width: 250px;
	height: fit-content;
	margin: 0;
	padding: 0;
	font-weight: 600;
	list-style-type: none;
	display: none;
	border: 1px solid black;
	overflow: hidden;
}

.navbar-right #menu ul.active-menu {
	display: block;
	animation: menu-animation 800ms ease-in-out forwards;
}

.navbar-right #menu ul.inactive-menu {
	display: block;
	animation: menu-animation-reverse 800ms ease-in-out forwards;
}

@keyframes menu-animation {
	0% {
		transform: translateX(115%);
		opacity: 0;
	}
	80% {
		transform: translateX(-5%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes menu-animation-reverse {
	0% {
		transform: translateX(0%);
	}

	10% {
		transform: translateX(-10%);
	}

	100% {
		opacity: 0;
		transform: translateX(120%);
	}
}

.navbar-right #menu ul li {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 10px 0px;
	position: relative;
	padding-left: 10px;
}

.navbar-right #menu ul li .item {
	display: flex;
	align-items: center;
}

.navbar-right #menu ul li .item img {
	width: 25px;
	height: 25px;
	object-fit: cover;
	object-position: center;
	margin-left: 5px;
}

.navbar-right #menu ul li .item h5 {
	margin: 0 0 0 10px;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 0.5px;
	word-spacing: 2px;
}

.navbar-right #menu ul li:last-child {
	border-radius: 0 0 1rem 1rem;
}

.navbar-right #menu ul li:hover {
	background-color: #cce3de;
}

/* menu style end */

/* **** navbar-right-end  **** */

/* media query start  */
@media screen and (max-width: 1100px) {
	.navbar-right .icon-style {
		flex-basis: 70%;
	}
}

@media screen and (max-width: 992px) {
	.navbar-right .icon-style {
		flex-basis: 85%;
	}
}

@media screen and (max-width: 800px) {
	.navbar-right .icon-style {
		flex-basis: 90%;
	}
}

@media screen and (max-width: 700px) {
	.navbar-right .icon-style {
		flex-basis: 95%;
	}

	.navbar-middle {
		margin-left: 10px;
	}
}

@media screen and (max-width: 650px) {
	.navbar-right .icon-style span:nth-child(2) {
		display: none;
	}

	.navbar-right .icon-style span:nth-child(3) {
		display: none;
	}

	.navbar-right .icon-style span:nth-child(4) {
		display: none;
	}

	.navbar-right #menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navbar-middle {
		flex-grow: 1;
		margin-right: 20px;
	}
}

@media screen and (max-width: 550px) {
	.navbar-middle .search-bar {
		width: 40px;
		height: 40px;
		background: #f0f4f4;
		box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
		justify-content: center;
		cursor: pointer;
		z-index: 100;
	}

	.navbar-middle .search-bar.active {
		margin: 0 0 0 2%;
		width: 100%;
		transition: all 0.5s;
	}

	.navbar-middle {
		width: 60%;
	}

	.navbar-right {
		width: 5%;
	}

	.navbar-right .icon-style span {
		margin-right: 40px;
	}

	.navbar-right .icon-style span:last-child {
		margin-right: 0px;
	}
}

@media screen and (max-width: 400px) {
	.navbar-right .icon-style span {
		margin-right: 30px;
	}

	.navbar-right .icon-style span:last-child {
		margin-right: 0px;
	}

	.navbar-middle {
		width: 70%;
	}

	.navbar-middle .search-bar.active {
		margin: 0 0 0 5%;
	}

	.navbar-right #sitting ul.active {
		animation: sitting-animation 800ms ease-in-out forwards;
	}

	.navbar-right #sitting ul.inactive {
		animation: sitting-animation-reverse 800ms ease-in-out forwards;
	}

	@keyframes sitting-animation {
		0% {
			transform: translateX(115%);
			opacity: 0;
		}
		80% {
			transform: translateX(25%);
		}
		100% {
			opacity: 1;
			transform: translateX(25%);
		}
	}

	@keyframes sitting-animation-reverse {
		0% {
			transform: translateX(20%);
		}

		100% {
			opacity: 0;
			transform: translateX(130%);
		}
	}
}
